.h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 4rem;
    z-index: -1;
    opacity: 1; /* Default opacity */
    transition: opacity 0.3s ease; /* Add transition if needed */
  }