canvas {
    pointer-events: auto; /* Assurez-vous que le canevas peut recevoir les événements de souris */
  }
  
  /* Vous pouvez également essayer d'ajouter ces styles pour la div contenant le canevas */
  .canvas-container {
    pointer-events: none; /* Assurez-vous que la div n'interfère pas avec les événements de souris */
  }
  
  /* canvas.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 85vh; /* Utiliser la hauteur complète de la fenêtre */
}

.canvas-wrapper {
  width: 80%;
  height: 85vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Header.module.css */
.title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 4rem;
  z-index: -1;
  opacity: 1; /* Default opacity */
  transition: opacity 0.3s ease; /* Add transition if needed */
}

@media (max-width: 768px) {
  .title {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Change opacity for mobile if needed */
    padding: 10px;
    z-index: 300;
    font-size: 3rem;
  }
}
