/* Style global pour les sections */
section {
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

/* Style pour le titre de la section projets */
#projects h1 {
  font-size: 3rem;
  margin-top: 200px; /* Espacement supérieur pour un meilleur décalage */
  animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Style pour le bouton de compétences */
.buttonskills {
  padding: 15px 40px;
  font-size: 1.2rem;
  color: #333333;
  background-color: transparent;
  border: 2px solid #333333;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation: fadeInUp 1s ease-out;
}

.buttonskills::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(51, 51, 51, 0.1);
  transition: all 0.3s ease;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
}

.buttonskills:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.buttonskills:hover {
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper_projet_label {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_projet_label {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  background-size: cover; /* Adjust this to 'contain' if needed */
  background-position: center; /* Center the background image */
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description h4 {
  color: white;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url('../assets/forge.jpg');
}
.card[for="c2"] {
  background-image: url('../assets/image.jpg');
}
.card[for="c3"] {
  background-image: url('../assets/programme.jpg');
}
.card[for="c4"] {
  background-image: url('./img4.jpeg');
}

/* Updated text-button styles */
.button-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically if necessary */
}

.text-button {
  width: 100px; /* Set button width to 100 pixels */
  font-size: 0.9rem; /* Make the button smaller */
  color: #333;
  text-decoration: none; /* Remove default underline */
  position: relative; /* Maintain relative positioning for underline */
  cursor: pointer; /* Change cursor to pointer */
  padding: 5px 0; /* Adjust padding for a smaller button */
  background-color: #ffffff; /* Set background color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #fffafa; /* Border to match text color */
  transition: color 0.3s ease; /* Smooth color transition */
}

.text-button:hover {
  color: #ffffff; /* Change text color on hover */
}

.text-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background: #333333; /* Color of the underline */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.text-button:hover::after {
  transform: scaleX(1); /* Expand underline on hover */
}
